<% content_for :title, "Purges" %>
<h2>Your MailChimp Purges Log</h2>

<table class="table table-bordered">
    <tr>
        <th>List Id</th>
        <th>Name (email)</th>
        <th>Time Purged</th>
        <th>Number Unsubscribed</th>
    </tr>

    <% @purges.each do |purge| %>
    <tr>
      <td><%= purge.list_id %></td>
      <% user = User.find(purge.user.id) %>
      <td><%= user.name+" ("+user.email+")" %></td>
      <td><%= purge.created_at %></td>
      <td><%= purge.unsubscribed_count %></td>
    </tr>
    <% end %>

</table>

